.hr {
	width: 100%; 
  	border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
.program-box {
    border: 3px solid #177DD6;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 0 2px 1px rgba(8,8,8,0.6);
}
.add_program {
	position: absolute;
	right: 0;
	top: 3px;
}
.pb-status {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100px;
	height: 30px;
	background: gold;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	font-weight: 600;
}

.paused-border {
	border: 3px solid gold !important;
}
.canceled-border {
	border: 3px solid red !important;
}
.finished-border {
	border: 3px solid lawngreen !important;
}
.red {
	background-color: red !important;
}
.green {
	background-color: lawngreen !important;
}
.disabled {
	pointer-events: none !important;
}